<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Admin</title>
</head>

<body>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex flex-column w-25 border mx-2 p-3">
            <form action="/admin/" method="POST">

                <div class="input-group mb-3">
                    <span class="input-group-text w-50">Kutu Kodu</span>
                    <input name="box_code" type="text" class="form-control" placeholder="Kutu Kodu Giriniz">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text w-50">Kapasite(gr)</span>
                    <input name="capacity" type="text" class="form-control" placeholder="Kapasiteyi Giriniz">
                </div>

                <button id="btn_bc" class="btn btn-outline-success w-100" type="submit">Kutu Ekle</button>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>